*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body {
  font-family: 'Hanken Grotesk', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  p {
    font-size: 18px;
  }
}