@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

$darkCyan: hsl(185, 75%, 39%);
$darkDesaturatedBlue: hsl(229, 23%, 23%);
$darkBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);

body {
   font-size: 18px;
}