@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
*, ::before, ::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  width: 100vw;
  height: 100vh;
  background-color: #19a2ae;
  position: relative;
  overflow: hidden;
}

body span {
  font-weight: 400;
}

body .container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

body img {
  max-width: 100%;
}

.card-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card-wrapper .card-body {
  width: clamp(310px, 350px, 350px);
  height: 375px;
  background-color: #ffffff;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 20px #2d3248;
          box-shadow: 0 5px 20px #2d3248;
}

.card-wrapper .card-body .card-header {
  height: 140px;
  position: relative;
}

.card-wrapper .card-body .card-header .card-header__img img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -36%;
  margin: auto;
  border-radius: 50%;
  border: 5px solid #fff;
  background-color: #fff;
}

.card-wrapper .card-body .card-header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../Images/bg-pattern-card.svg) center/cover no-repeat;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-wrapper .card-body .card-description {
  margin-top: 20%;
  text-align: center;
}

.card-wrapper .card-body .card-description .card-description__title {
  padding-top: 5px;
}

.card-wrapper .card-body .card-description .card-description__title h2 {
  color: #2d3248;
  font-size: 18px;
  font-weight: 600;
}

.card-wrapper .card-body .card-description .card-description__title h4 {
  color: #969696;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  letter-spacing: -1px;
}

.card-wrapper .card-body .card-description .card-description__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.1em;
  padding-top: 1.3em;
}

.card-wrapper .card-body .card-description .card-description__info .col-3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.card-wrapper .card-body .card-description .card-description__info .col-3 h2 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 3px;
}

.card-wrapper .card-body .card-description .card-description__info .col-3 span {
  color: #969696;
  font-size: 11px;
  letter-spacing: 1px;
}

.card-wrapper .card-body .card-description .card-description__info::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #969696;
  opacity: 0.3;
}

.card-wrapper .top, .card-wrapper .bottom {
  position: absolute;
  z-index: -1;
}

.card-wrapper .top {
  left: -24%;
  top: -44%;
}

.card-wrapper .bottom {
  right: -20%;
  bottom: -56%;
}

@media only screen and (min-width: 320px) and (max-width: 440px) {
  .card-wrapper .top {
    top: -25%;
    left: -40%;
  }
  .card-wrapper .bottom {
    right: -40%;
    bottom: -25%;
  }
}

@media only screen and (min-width: 440px) and (max-width: 640px) {
  .card-wrapper .top {
    top: -30%;
    left: -50%;
  }
  .card-wrapper .bottom {
    right: -50%;
    bottom: -30%;
  }
}

@media only screen and (min-width: 640px) and (max-width: 840px) {
  .card-wrapper .top {
    top: -35%;
    left: -60%;
  }
  .card-wrapper .bottom {
    right: -60%;
    bottom: -35%;
  }
}

@media only screen and (min-width: 840px) and (max-width: 1100px) {
  .card-wrapper .top {
    top: -40%;
    left: -50%;
  }
  .card-wrapper .bottom {
    right: -50%;
    bottom: -40%;
  }
}
